/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.footer {
  padding: 70px 0;
  position: relative;
  min-height: 400px;
}
.footer-inner { 
  margin-bottom: 50px;
}
.footer-title {
  padding: 15px 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.address { 
  margin: 0;
  margin-bottom: 15px;
  line-height: 26px;
}.footer-description { 
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 0.35px;
}
.footer-address .icon, .footer-phone .icon{ 
  font-size: 14px;
  margin-right: 16px;
}
.footer-btn  { 
  font-size: 20px;  
}
.social-link { 
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-link:not(:last-child) { 
  margin-right: 6px;
}
.socials .icon { 
  font-size: 16px;
}


.social-link:hover,  .footer .speciall-links a:hover, .footer-phone a:hover{
  text-decoration: none;
  border-color: #00e0d0;
  color: #00e0d0;
}

.footer .speciall-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .speciall-links li { 
  margin-right: 35px;
}
.footer .speciall-links a, .footer .copyright{ 
font-weight: 400;
line-height: 26px;
letter-spacing: 0.35px;
}