/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-header { 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid-story {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 315px) 100px minmax(400px, 640px);
  grid-template-columns: minmax(200px, 315px) minmax(400px, 640px);
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  justify-items: left; 

}
.grid-story .grid-item:first-of-type { 
  -ms-grid-column-align: center; 
      justify-self: center;
}

.grid-cards {
  margin: -20px -33px;
}
.grid-cards-item {
  padding: 20px 33px;
}
.grid-team {
  margin: -10px;
}
.grid-team-item {
  padding: 10px;
}
.grid-works { 
  -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid-contacts {
  margin: 0 -50px;
}
.grid-contacts .grid-item {
  padding: 0 50px;
}
.grid-brands { 
  margin: 0 -40px;
}
.grid-brands .grid-item { 
  padding: 0 40px;
}

.grid-footer {
  margin: 0 -30px;
}
.grid-footer > .grid-item {
  padding: 0 30px;
}